html{
    width: 100%;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* 헤더 부분 */

#header{
    width: -webkit-fill-available;
    z-index: 10;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 30% 0px;
}

#header div{
    z-index: 11;
    display: inline-block;
}

#header_logo{
    padding: 10px 10px;
}

#header_menu{
    margin: 27px 0px 27px;
    float: right;
    line-height: 100%;
}

/* content 부분 */
#all_body{
    width: -webkit-fill-available;
}

#top_logoandbutton{
    width: 100%;
    height: 25cm;
    background-color: #184d5a;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
}

#main_name{
    margin: 8cm 0px 0px;
    background-color: #11363f;
    max-width: 18cm;
    width: 40%;
    height: fit-content;
    min-width: 320px;
    padding: 0px 60px;
}

#name{
    border-bottom: 1px solid white;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    margin: 30px 0px 0px;
}

.sub_name{
    text-align: center;
    color: white;
}

#learnmorebutton_div{
    margin-top: 40px;
}

#Learnmorebutton{
    outline: none;
    border: none;
    border-bottom: solid #ab3c05 1px;
    background-color:#fb6816;
    color: white;
    font-size: 12px;
    height: 35px;
    width: 120px;
    border-radius: 3px;
    cursor: pointer;
}